<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	
	<!--مکان ذخیره لاگ ها و کانفیگ ها-->
	<targets async="true">
		<target name="console" xsi:type="Console" />
		<!--بر اساس روز جاری لاگ هارا در فایل جدید ثبت کن-->
		<!--<target name="logfile" xsi:type="File" fileName="logfile${shortdate}.txt" />-->

		<!--تا 10 تا فایل ایجاد کن هرکدام تا سایز فلان ، اگر از 10 بیشتر شد اولی را حذف کن و جایگزینش شو-->
		<target name="logfile" xsi:type="File" fileName="logfile${####}.txt"
				
			maxArchiveFiles = "10"
				archiveAboveSize ="10204"

				/>


		<!--<target name="email" xsi:type="Mail"
                smtpServer="smtp.DomainName.com"
                smtpAuthentication="Basic"
                smtpUsername="Username@DomainName.com"
                smtpPassword =""
                enableSsl="true"
                subject="NLog message from system X on ${machinename}"
                to="Username@DomainName.com"
                from="Username@DomainName.com"  />-->

		
		
		<!--ذخیره در دیتابیس -->
		<!--اول باید دیتابیس را ساخته بعد جدول را ایجاد کرده سپس پکیج sqlClient را نصب کرده-->
		<target async="true" name="myDB" xsi:type="Database">
			<connectionString></connectionString>
			<!--دستور insert-->
			<commendText></commendText>
			<!--مشخص کردن پارامتر ها-->
			<parameter name="@message" layout="${message}"/>
		</target>
	</targets>
	
	
	
	
	
	<!--تحت شرایط فلان بیا و لاگ فلان را درون محل ذخیره فلان سیو کن-->
	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
		<logger name="*" levels="Info,Error" writeTo="console" />
		<logger name="*" levels="Info,Debug,Error" writeTo="logfile" />
		<logger name="*"  writeTo="myDB" />
		<!-- <logger name="*" levels="Error" writeTo="email" /> -->
	</rules>
</nlog>