@page
@model Shop.Microservice.EndPoint.Pages.IndexModel
@{
}


@*<div class=content>
    <section class="Products">
        <h2>Products</h2>

        <ul>
            @foreach (var product in Model.products)
            {
                <li>@product.productName</li>

            }
        </ul>
    </section>
    <section class="Carts">
        <div>
            <form  method="post" class="form-control">
                <label>
                    UserId
                    <input placeholder="userId..." name="userId" />
                </label>
                <button class="btn btn-success" type="submit">Add</button>
            </form>
        </div>
    </section>
</div>*@